@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900;1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
  position: relative;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  padding: 96px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

#landing {
  height: calc(100vh - 120px);
}

/* Nav */
.nav__container {
	height: 120px;
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding:0 24px;
  margin-bottom: 64px;
}

.logo__wrapper {
	display:flex;
	align-items: center;
	gap: 8px;
}

.logo {
width: 40px;
height: 40px;
}

.logo__text {
	font-size: 24px;
	font-weight:900;
	color:#243e63;
}

.nav__links {
	display:flex;
	gap: 32px;
}

.logo__text {
  font-size: 24px;
	font-weight:900;
	color:#243e63;
}

.nav__links {
  display:flex;
	gap: 32px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  color:#243e63;
}

.nav__link--margin {
  margin-left: 48px;
}

.nav__link:hover {
color: #6415ff;
transition: all 400ms ease;
}

.nav__link--button {
  background-color: #6415ff;
  color: white;
  border-radius: 99px;
  padding: 12px 32px;
}

.nav__link--button:hover {
  background-color: #4108b4;
  color: white;
  transition: all 400ms ease;
}

.link__hover-effect:after {
content: "";
position: absolute;
background-color: #6415ff;
height: 2px;
bottom: -3px;
transition: all 400ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
  transition: all 400ms ease;
}
  /* Header */

.header__container {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 96px  0;
  max-width: 1280px;
}

.header__description {
  width: 43%;
}

.header__description--title {
font-size: 48px;
}

.purple {
  color: #6415ff;
}

.header__description--para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
  line-height: 24px;
  max-width: 550px;
}

form {
  display: flex;
  align-items: center;
}

input {
  position: relative;
width: 100%;
max-width: 420px;
border-radius: 99px;
padding: 20px 192px 24px 32px;
border: 2px solid lightgray;
}

input:placeholder {
  color: lightgray;
}

input:hover {
  border-color: gray;
}

input:focus {
  border: 2px solid #6415ff;
  outline: transparent solid 2px;
}

.btn {
background-color: #6415ff;
color: white;
border-radius: 99px;
padding: 14px 28px;
font-size: 16px;
font-weight: 700;
border-color: transparent;
}

.btn:hover {
  background-color: #4108b4;
  cursor: pointer;
  transition: all 400ms ease;
}

.header__btn--wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__btn {
  position: absolute;
  margin-right: 8px;
}

.header__description--para-2 {
  font-size: 12px;
  font-weight: 700;
  color: #a0aac0;
  margin: 80px 0 16px 0;
}

.header__description--img {
width: 100%;
max-width: 500px;
}

.header__img--wrapper {
  width: 57%;
}

.header__img {
  width: 100%;
  max-width: 650px;
}

  /* Features */

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 48px;
}

.main__features--1 {
  font-size: 16px;
  word-spacing: 2px;
}

.main__features--2 {
  font-size: 48px;
  color: #243e63;
  margin: 20px 0;
  font-weight: 900;
}

.main__features--3 {
  font-size: 18px;
  color: #7c8ba1;
  margin-top: 16px;
  width: 100%;
  max-width: 556px;
  line-height: 1.5;
  font-weight: 500;
}
/* services */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    }

.service {
  display: flex;
  padding: 32px 8px;
  margin: 0px 16px;
}

.service__img {
  border: 1px solid #7c8ba148;
  padding: 20px;
  border-radius: 99px;
  max-height: 66px;
}

.service__description {
  margin: 8px 0 0 16px;
}

.service__description--title {
  font-size: 24px;
  color: #243e63;
}

.service__description--para {
  font-size: 16px;
  margin-top: 16px;
  color: #7c8ba1;
  max-width: 211px;
  line-height: 2;
  font-weight: 500;
}
/* quality */
.main__quality {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.main__quality--left {
display: flex;
flex-direction: column;
}

.main__quality--left__P1 {
font-size: 16px;
}

.main__quality--left__P2 {
  color: #7c8ba1;
  font-size: 18px;
  margin-top: 16px;
  max-width: 576px;
}

.main__quality--left__H2 {
  color: #243e63;
  font-size: 48px;
  margin-top: 16px;
  font-weight: bolder;
  max-width: 576px;
}

.main__quality--left__B {
  font-size: 14px;
  margin-top: 32px;
  padding: 12px 32px;
  border: none;
  background-color: #6415ff;
  border-radius: 30px;
  color: white;
  max-width: 141px;
}

.main__quality--left__B:hover {
  background-color: #4108b4;
  cursor: pointer;
  transition: all 400ms ease;
}

.main__quality--right__I {
  display: flex;
  width: 100%;
  border: 2px solid rgba(196, 191, 191, 0.322);
  max-width: 640px;
}
/* steps */
.main__steps {
  display: flex;
  flex-direction: row;
}

.main__steps--left {
  display:flex;
	align-items: center;
}

.main__steps--left__img {
max-width: 640px;
}

.main__steps--right {
  display:flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
  padding: 32px 0 32px 80px;
}

.main__steps--right__1 {
font-size: 16px;
text-align: left;
}

.main__steps--right__2 {
  font-size: 48px;
  color: #243e63;
  margin-top: 16px;
  text-align: left;
align-items: left;
}

.main__steps--right__3 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 32px;
}
.main__steps--right__3--left {
  flex-direction: row;
  display: flex;
  margin-top: 32px;
}

.main__steps--right__3--left__1 {
color: #CBD5E0;
font-size: 36px;
}
.main__steps--right__3--right {
margin-left: 24px;
align-items: center;
max-width: 320px;
}
.main__steps--right__3--right__1 {
  color: #243e63;
  font-size: 20px;
}

.main__steps--right__3--right__2 {
  color: #718096;
  font-size: 14px;
  margin-top: 12px;
  max-width: 400px;
  line-height: 2;
}

/* values */

.main__values {
  display: flex;
  justify-content: center;
}

.main__values--left {
  padding: 3% 0;
}

.main__values--left__3 {
  margin-top: 32px;
  color: #7c8ba1;
  font-size: 18px;
  max-width: 576px;
  line-height: 1.6;
}

.main__values--left__4 {
  display:flex;
  flex-direction: row;

}

.main__values--left__4--box1 {
  flex-direction: column;
  display: flex;
  margin: 32px 32px 0 0;
}

.main__values--left__4--box2 {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.main__values--h5 {
margin-left: 12px;
font-size: 20px;
color: #243e63;
}

.main__values--left__4--box2__left--button {
  color: green;
  border-color: green;
  border: none;

}

.main__values--left__4--box2__right--button {
  color: red;
}

.main__values--p {
  margin-top: 16px;
  color: #718096;
  font-size: 16px;
  line-height: 1.6;
}

.main__values--left__B {
  font-size: 14px;
  margin-top: 48px;
  padding: 12px 32px;
  border: none;
  background-color: #6415ff;
  border-radius: 30px;
  color: white;
}

.main__values--left__B:hover {
  background-color: #4108b4;
  cursor: pointer;
  transition: all 400ms ease;
}

.main__values--right {
  display:flex;
	align-items: center;
}

.main__values--right__img {
max-width: 640px;
}

/* Pricing */
.main__pricing--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__pricing--h5 {
  font-size: 16px;
  margin-bottom: 16px;
}

.main__pricing--h2 {
font-size: 48px;
color: #243e63;
}

.main__pricing--p {
margin-top: 16px;
color: #7c8ba1;
font-size: 18px;
max-width: 576px;
line-height: 1.6;
text-align: center;
}

.main__pricing--2 {
  flex-direction: row;
  display: flex;
  margin: 0 auto;
}

.main__pricing--2__box {
  flex-direction: column;
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
  max-width: 384px;
  border-style: solid;
border-width: 1px;
border-color: #7c8ba1;
border-radius: 10px;
}

.main__pricing--2__box2 {
  flex-direction: column;
  margin: 64px 32px 0 0;
  padding: 8px 32px 0;
  max-width: 384px;
  border-style: solid;
  border-width:1px;
  background-image: linear-gradient(to right, #6055fc , rgb(128, 126, 241));
  border-color: #0c50b6;
  border-radius:10px;
}

.main__pricing--2__border {
padding: 32px 0;
text-align: center;
}

.main__pricing--2__border2 {
  padding: 32px 0;
  text-align: center;
}

.main__pricing--plans {
font-size: 20px;
width: 320px;
}

.main__pricing--plans2 {
  font-size: 20px;
  color: white;
  width: 320px;
}

.main__pricing--price {
  font-size: 48px;
  margin: 4px 0;
  }
  
  .main__pricing--price2 {
    font-size: 48px;
    color: white;
    margin: 4px 0;
  }

  .main__pricing--duration {
color: #a0aec0;
font-size: 16px;
  }

  .main__pricing--duration2 {
color:white;
font-size: 16px;
  }

  .main__pricing--mfeature {
    font-size: 25px;
  }

  .main__pricing--mfeature2 {
    color:white;
font-size: 20px;
  }

  .main__pricing--feature {
    color: #a0aec0;
    font-size: 20px;
    margin-top: 20px;
  }

  .main__pricing--feature2 {
    color: white;
font-size: 20px;
margin-top: 20px;
  }

  .main__pricing--button1 {
    padding: 13px 40px;
    border: none;
    background-image: linear-gradient(to right, rgba(64, 170, 137, 0.89) , rgb(150, 204, 171));
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }

  .main__pricing--button2 {
    padding: 13px 40px;
    border: none;
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
  }

  .main__pricing--button3 {
    padding: 13px 40px;
    border: none;
    background-image: linear-gradient(to right, rgba(236, 71, 16, 0.911) , rgb(235, 166, 166));
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }

  /* Testimonials */

  .main__testimonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main__testimonials--1 {
    max-width: 640px;
  }

  .main__testimonials--img {
margin: 0 auto;
width: 100%;
  }

  .main__testimonials--2 {
    max-width: 640px;
    padding-left: 64px;
  }

  .main__testimonials--h5 {
    font-size: 16px;
  }

  .main__testimonials--h2 {
    font-size: 48px;
    margin-top: 16px;
  }

  .main__testimonials--p1 {
    font-size: 18px;
    margin: 24px 0 24px 0;
    line-height: 1.5;
  }

  .fa-star {
    color: rgba(243, 209, 14, 0.63);
    margin-right: 4px;

  }

  .main__testimonials--p2 {
    font-size: 20px;
margin-top: 16px;
  }

  .main__testimonials--p3 {
    font-size: 16px;
    color: #4a5568;
    margin: 16px 0 40px;
    line-height: 1.5;
  }

  .main__testimonials--6 {
    display: flex;
  }

  .main__testimonials--img2 {
    width: 80px;
    border-radius: 50px;
  }

.main__testimonials--7 {
margin-left: 20px;
transform: translateY(20%)
}

.main__testimonials--h52 {
font-size: 20px;
}

.main__testimonials--p4 {
font-size: 16px;
}
  .main__testimonials--8 {
    margin: 0 auto;
  }

  .main__testimonials--button {
    background-color: #edf2f7;
    margin: 0 12px;
    padding: 16px;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    border: none;
    transform: translateY(30%)
  }

  .fa-arrow-left,
  .fa-arrow-right {
font-weight: bolder;
  }
  /* FAQ */
  .main__faq--1 {
    max-width: 576px;
    margin: 0 auto;
  }
  .main__faq--h5 {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .main__faq--h2 {
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
  }

  .main__faq--p1 {
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    color: #7c8ba1;
    margin-top: 18px;
  }

  .main__faq--2 {
    margin-top: 48px;
color: #243e63;
  }

  .main__faq--3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 16px 40px;
    background-color: #edf2f7;
    max-width: 896px;
    justify-content: space-between;
  }
  .main__faq--4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main__faq--dt {
    font-size: 20px;
    color: #2d3748;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .main__faq--dd {
    color: #2d3748;
  }
  /* Developers */
  .developers {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6415ff;
    height: 282px;
    width: 1280px;
    border-radius: 10px;
  }

  .developers__row {
    display: flex;
align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0 128px;
    padding: 0 32px;
    width: 1280px;
  }

  .developers__text {
    display: flex;
color: #f7fafc;
font-size: 30px;
max-width: 480px;
  }

  .developers__get {
padding: 20px 40px;
margin-right: 32px;
background-color: #f56565;
font-size: 16px;
color: white;
border-radius: 70px;
  }

  .developers__get:hover {
    background-color: #bd3d3d;
    transition: all 400ms ease;
  }

  .developers__contact {
    padding: 20px 40px;
    font-size: 16px;
color: white;
border-radius: 70px;
border-style: solid;
border-width: 1px;
border-color: #7c8ba1;
  }

  .developers__contact:hover {
    background-color: white;
    transition: all 400ms ease;
    color: #7e329c;
  }

/* Footer */

.footer {
  background-color: #6415ff;
  max-height: 522px;
padding: 50px 0 100px 0;
}
  .footer__row {
    margin: 0 auto;
    max-width: 1280px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .footer__links--title {
    margin-top: 48px;
    color: white;
    font-size: 16px;
  }

  .footer__list {
    margin-top: 12px;
  }

  .footer__link {
color: white;
font-size: 14px;
  }

  .footer__link--border {
    margin-top: 12px;
  }

  .footer__divider {
    display: flex;
    max-width: 1280px;
    height: 2px;
    margin: 64px 0;
    background-color: #7e329c;
  }

  .footer__bottom {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
    
  }
  .footer__bottom--1 {
    display: flex;
    align-items: center;
  }
  .footer__img {
    width: 32px;
  }

  .footer__h5 {
    font-size: 20px;
    color: white;
    margin-left: 8px;
  }

  .footer__bottom--2 {
    display: flex;
    align-items: center;
font-size: 16px;
color: white;
  }

  .footer__bottom--3 {
    display: flex;
    align-items: center;
  }

  .footer__bottom--link {

    background-color: white;
    border-radius: 99px;
    padding: 10px;
    margin-right: 16px;
    border: none;
  }

  .fa-brands.fa-facebook-f {
margin: 0 5px;
  }

  .fa-brands.fa-twitter {
    margin: 0 1px;
  }